In [1]:
1+1

2

In [2]:
2**10

1024

In [3]:
2*10

20

In [6]:
list = ["34", "47", "234"]
list.append("78")
print(list)

['34', '47', '234', '78']

要素を追加するときには（insert） 昇順にするときは（sort）　（reverse）を使うとリストの並びが逆になる

In [7]:
list=[1,2,3]
list.append(4)
list.insert(len(list),4)
list

[1, 2, 3, 4, 4]

In [8]:
list=[2,4,6,8,2]
list.remove(2)
list

[4, 6, 8, 2]

In [9]:
list=[9, 2, 5]
list.append(4)
list.append(1)
list

[9, 2, 5, 4, 1]

In [10]:
list=[9, 2, 5]
list.insert(len(list),4)
list.insert(len(list),1)
list

[9, 2, 5, 4, 1]

In [11]:
list=[9, 2, 5]
list.append(4)
list.insert(len(list),1)
list

[9, 2, 5, 4, 1]

In [12]:
a=(1, 2, 3, '100 yen')
len(a)

4

In [13]:
a[0]

1

In [17]:
a={1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [18]:
a={1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [19]:
(2)in a

True

In [20]:
(10)in a

False

In [21]:
b=[1,2,3]
c=set(b)
c

{1, 2, 3}

In [22]:
dic={1:'America',39:'Italy',86:'China'}
dic[39]

'Italy'

In [23]:
dic

{1: 'America', 39: 'Italy', 86: 'China'}

In [25]:
81 in dic

False

In [27]:
39 in dic

True

In [28]:
dic[81]='Japan'
dic

{1: 'America', 39: 'Italy', 81: 'Japan', 86: 'China'}

In [29]:
dic[81]='Nippon'
dic

{1: 'America', 39: 'Italy', 81: 'Nippon', 86: 'China'}

In [30]:
dic[1]='Nippon'
dic

{1: 'Nippon', 39: 'Italy', 81: 'Nippon', 86: 'China'}

In [31]:
dic.pop(1)

'Nippon'

In [32]:
dic

{39: 'Italy', 81: 'Nippon', 86: 'China'}

In [33]:
dic={}
dic['orange']=140
dic['apple']=100
dic

{'apple': 100, 'orange': 140}

In [34]:
dic={}
dic['X']=9
dic['Y']=8
dic['Z']=7
dic

{'X': 9, 'Y': 8, 'Z': 7}

In [35]:
a={'america':1,'italy':39,'china':86}
a['america']

1

In [36]:
dic={1:'America',39:'Italy',86:'China'}
dic[1]='Nippon'
dic

{1: 'Nippon', 39: 'Italy', 86: 'China'}

丸括弧：タプル（変更不可・重複有）
角括弧：リスト（変更可・重複有）
波括弧：：セット（変更可・重複無）
addを使って追加